
body {
  background-color: #e0f7fa;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 100px;
  margin: 0;
}


h1 {
  color: #00796b; 
  font-size: 36px;
  margin: 0;
}